<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <style>
      #app {
        display: inline-block;
      }

      label {
        display: inline-block;
        width: 150px;
      }

      input {
        width: 400px;
        margin-bottom: 5px;
      }
    </style>
    <script>const exports = {}</script>
  </head>
  <body>
    <h1>For demo purpose only</h1>
    <label for="oca-bundle-file">OCA Bundle</label>
    <input id="oca-bundle-file-input" name="oca-bundle-file" type="file" />
    <br>
    <label for="record-said">Preview record SAID</label>
    <input id="record-said-input" name="record-said" type="text" />
    <br>
    <label for="data-store-host">Data store host</label>
    <input id="data-store-host-input" name="data-store-host" type="text" value="https://data-vault.argo.colossi.network" />
    <br>
    <button id="load-btn" type="button">Load</button>
    <br><br>

    <div id="app"></div>
    <script src="./credential.js"></script>
  </body>
</html>
